// * ========= VARIABLES ========= //
:root {
	// ! --COLORS
	--color-amarillo: #fff900;
	--color-rojo: #c21220;
	--color-azul-claro: #3a1fe5;
	--color-verde: #bcd8b0;
	--color-azul-oscuro: #041129;

	// ! --FONTS
	--titulos-orbitron: 'Orbitron';
	--parrafos-jura: 'Jura';
}
