// * ========= RESTEO ========= //
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// outline: solid 1px red;
	// overflow-x: hidden;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;

	@include respond(movil) {
		font-size: 43.74%; // 1 rem = 9px; 9/16 = 43.75
	}

	@include respond(tabletaH) {
		font-size: 56.25%; // 1 rem = 9px; 9/16 = 56.25
	}

	// width < 900
	@include respond(tabletaV) {
		font-size: 50%; // 1 rem = 8px; 8/16 = 50
	}

	// width > 1800
	@include respond(big-desktop) {
		font-size: 75%; // 1 rem = 12px; 12/16 = 75
	}
}

a {
	text-decoration: none;
}
