.about {
	position: relative;
	padding-top: 25rem;
	&__container {
		background-color: white;
		height: 42rem;
		max-width: 80rem;
		margin: 0 auto;
		border-radius: 0.4rem;
		padding: 0 5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		box-shadow: 0px 1px 10px rgb(122, 122, 122);
	}
	&__tittle {
		color: #cf242d;
		font-size: 2.5rem;
		font-family: var(--titulos-orbitron);
	}

	&__text {
		font-size: 3rem;
		font-family: var(--parrafos-jura);
	}

	&__sub-text {
		color: #cf242d;
		font-size: 2rem;
		font-family: var(--titulos-orbitron);
	}

	&__arrow {
		color: #cf242d;
		font-size: 3rem;
	}

	&__strong {
		font-weight: 900;
	}

	&__help {
		max-width: 110rem;
		margin: 0 auto;
		@include respond(tabletaH) {
			padding: 5rem;
		}
	}

	&__help-text {
		margin-top: 5rem;
		font-size: 2.5rem;
		font-family: var(--parrafos-jura);
	}

	&__contact {
		font-weight: 700;
		text-decoration: underline black;
	}

	&__future-container {
		max-width: 110rem;
		margin: 0 auto;
		padding: 10rem 0;
	}

	&__future-tittle {
		font-size: 5rem;
		font-family: var(--parrafos-jura);
		font-weight: 400;

		@include respond(movil) {
			padding: 2rem;
			text-align: left;
			font-size: 4rem;
		}
	}

	&__me-flex {
		padding-top: 10rem;
		display: flex;
		align-items: center;
		max-width: 110rem;
		gap: 3rem;
		padding-left: 11rem;

		@include respond(movilBig) {
			flex-direction: column;
			padding-left: 8rem;
		}
	}

	&__me-container {
		max-width: 50rem;
		@include respond(movil) {
			padding-right: 3rem;
			margin-right: 11rem;
			max-width: 60rem;
		}
	}

	&__me-photo {
		width: 100%;
		background-position: center;
		background-size: cover;
		@include respond(movil) {
			width: 40rem;
			margin-left: 6rem;
		}
	}

	&__me-tittle {
		font-size: 3rem;
		font-family: var(--titulos-orbitron);
		font-weight: 100;
	}
	&__me-sub-tittle {
		font-size: 2.5rem;
		margin: 1.5rem 0;
		font-family: var(--parrafos-jura);
		font-weight: 300;
	}

	&__future-text {
		font-size: 2rem;
		margin-bottom: 10rem;
		font-family: var(--parrafos-jura-light);
	}

	&__box {
		@include respond(movil) {
			margin-right: 14rem;
		}
	}
}

.civilus {
	font-size: 2rem;
	font-family: var(--parrafos-jura);
	padding-top: 10rem;
	padding-left: 20rem;
	padding-right: 20rem;
	padding-bottom: 2rem;
	color: #041129;

	@include respond(tabletaV) {
		padding: 8rem;
	}
	@include respond(movil) {
		padding: 4rem;
		padding-top: 9rem;
		padding-bottom: 2rem;
	}
}

.contactScroll {
	font-weight: 700;
	text-decoration: underline;
	color: var(--color-azul-oscuro);
}
