.cross {
	position: relative;
	padding-top: 10rem;
	&__tittle {
		color: #fff;
		background-color: var(--color-azul-oscuro);
		display: inline-block;
		font-family: var(--titulos-orbitron);
		font-weight: 500;
		padding: 1rem 3rem;
		font-size: 2rem;
		margin-top: 3rem;
	}

	&__box {
		max-width: 110rem;
		margin: 0 auto;
		position: relative;
		z-index: 4;
	}
}

.myCanva {
	@include respond(movilBig) {
		width: 50rem;
	}
	@include respond(miniMovil) {
		width: 40rem;
	}
}

.section__diagram {
	color: #041129;
}

.results__title {
	color: #041129;
}

.results__arrow {
	color: #041129;
}
