.algo {
	padding-top: 0rem;
	height: 5rem;
	width: 10rem;
	margin-right: 5rem;
	@include respond(movil) {
		padding-left: 2rem;
	}
}

.home {
	height: 100vh;
	@include respond(tabletaV) {
		height: 80vh;
	}

	&__nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background-color: #fff;
		padding: 3rem 0 3rem 0;
		gap: 11rem;
		position: fixed;
		width: 100%;
		z-index: 100;
		flex-shrink: 0;
		box-shadow: 0 0px 6px -1px gray;
		@include respond(tabletaH) {
			gap: 8rem !important;
			justify-content: space-between;
		}
		@include respond(tabletaV) {
			justify-content: space-between;
		}
		@include respond(movilBig) {
			justify-content: space-between;
		}
		@include respond(movil) {
			justify-content: space-between;
		}
	}

	&__img {
		background-image: url(../../assets/images/CivilusSVG.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 200%;
		height: 200%;

		@include respond(tabletaH) {
			width: 170%;
			height: 170%;
			padding-left: 1rem;
			margin-top: 1rem;
		}

		@include respond(tabletaV) {
			width: 110%;
			height: 110%;
			margin-top: -0.4rem;
			margin-left: 3rem;
		}
	}
	&__img-2 {
		@include respond(movil) {
			width: 40rem;
		}
	}

	&__list {
		display: flex;
		list-style: none;
		gap: 6rem;
		margin-right: 8rem;
		font-size: 1.8rem;
		align-items: center;
		align-self: flex-end;
		position: relative;

		@include respond(tabletaH) {
			gap: 2rem;
		}

		@include respond(tabletaV) {
			display: none;
		}
	}

	&__item {
		position: relative;
		&.activo {
			border-bottom: 2px solid var(--color-azul-oscuro);
			height: 3rem;
		}

		&:not(:last-child):not(.activo) {
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: 0;
				margin: -5px 0;
				background-color: #000;
				visibility: hidden;
				transform: scaleX(0);
				transition: all 0.2s ease-in-out 0s;
			}
			&:hover:before {
				visibility: visible;
				transform: scaleX(1);
			}
		}
	}
	&__link {
		color: var(--color-azul-oscuro);
		font-family: var(--parrafos-jura);
		font-weight: 600;
		display: inline-block;
		align-self: flex-end;
		justify-self: flex-start;
		font-family: var(--parrafos-jura);
		font-weight: 700;
		flex: 1;
	}

	&__link--margin {
		margin-right: 4rem;
		color: var(--color-rojo);
		border: 2.5px solid var(--color-rojo);
		padding: 0.9rem 1.5rem;
		margin-top: -0.3rem;

		@include respond(tabletaH) {
			margin-right: 0rem;
		}
	}

	&__link--margin:hover {
		background-color: var(--color-rojo);
		color: #fff;
		transition: 0.5s;
	}

	&__container {
		position: absolute;
		top: 30%;
		left: 20rem;
		color: #fff;
		font-family: var(--titulos-orbitron-regular);
		max-width: 100rem;
		color: #000;
		display: flex;
		gap: 10rem;
		color: var(--color-rojo);
		@include respond(tabletaH) {
			left: 2%;
		}
		@include respond(tabletaV) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			left: 3.5rem;
			top: 20%;
		}

		@include respond(movil) {
			left: 0rem;
			top: 20%;
			padding: 0 3rem 0 3rem;
			width: 100%;
		}
	}

	&__order {
		@include respond(tabletaV) {
		}
	}

	&__tittle {
		font-size: 5rem;
		margin-bottom: 2rem;
		font-weight: 600;
		letter-spacing: 0.3rem;
		font-family: var(--parrafos-jura);

		@include respond(tabletaV) {
			text-align: center;
		}
		@include respond(movil) {
			text-align: center;
			font-size: 4rem;
		}
	}

	&__text {
		font-size: 2rem;
		font-weight: 500;
		font-family: var(--parrafos-jura);
		@include respond(tabletaV) {
			text-align: center;
		}
	}

	&__graph {
		position: relative;
		margin-top: 10rem;
	}

	&__graph-container {
		position: relative;
		max-width: 110rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		gap: 5rem;
		justify-content: center;
		@include respond(tabletaV) {
			flex-direction: column;
			max-width: 70rem;
			padding: 10rem 8rem 0 8rem;
		}

		@include respond(movil) {
			margin: 0 auto;
			margin-top: 10rem;
			max-width: 60rem;
			padding: 10rem 5rem 0 5rem;
		}
	}

	&__graph-box {
		border: 2px solid var(--color-azul-oscuro);
		color: var(--color-azul-oscuro);
		min-height: 74rem;
		flex-basis: 35%;
		position: relative;

		@include respond(tabletaV) {
			flex-direction: column;
			flex-basis: 10%;
			margin-bottom: 13rem;
			margin-top: 5rem;
			min-height: 80rem;
		}
		&:not(:first-child) {
			@include respond(movil) {
				margin-top: 3rem;
			}
		}

		@include respond(movil) {
			margin-top: 3rem;
			min-height: 70rem;
		}

		&:not(:last-child) {
			@include respond(miniMovil) {
				margin-top: 15rem;
				min-height: 70rem;
			}
		}
	}

	&__graph-tittle {
		font-family: var(--titulos-orbitron);
		font-size: 3.5rem;
		margin: 2rem 0;
		padding: 0 2rem;

		&--2 {
			margin: 14.1rem 0 4rem 0;
		}
	}
	&__graph-text {
		font-family: var(--parrafos-jura);
		font-weight: 500;
		font-size: 2rem;
		padding: 0 2rem;
	}

	&__flex {
		display: flex;
		gap: 5rem;
		// position: relative;
		// top: -20rem;
		// left: 25.5rem;
		max-width: 100rem;
		margin-top: -15rem;
		margin-bottom: 10rem;
	}

	&__graph-img {
		height: auto;
		padding: 2rem 2rem 0 2rem;
		margin-left: 4rem;
		@include respond(tabletaV) {
			width: 70%;
			margin-left: 5rem;
		}
	}

	&__graph-img2 {
		padding: 8rem 2rem 0 2rem;
		margin-bottom: 5rem;
		height: auto;
	}
}

.navigation {
	@include respond(tabletaV) {
		display: block !important;
		background-color: red;
	}
}

html {
	scroll-behavior: smooth;
}
#graphs {
	padding: 2rem 0 20rem 0;
	@include respond(movil) {
		margin-bottom: -10rem;
	}
}

video {
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

#bg-video__portada {
	width: 40rem;
	@include respond(movil) {
		width: 45rem;
		margin-top: -7rem;
	}
}

#myBtn {
	position: fixed;
	bottom: 14rem;
	right: 3rem;
	z-index: 99;
	border: none;
	outline: none;
	background-color: var(--color-rojo);
	color: white;
	cursor: pointer;
	padding: 2rem;
}
