.learners {
	background-color: var(--color-azul-claro);

	&__box {
		margin: 0 auto;
		max-width: 110rem;
		padding: 10rem 0;
		@include respond(tabletaV) {
			padding: 5rem 0;
		}
	}

	&__list {
		display: flex;
		list-style: none;
		justify-content: center;
		align-items: center;
		gap: 10rem;
		@include respond(tabletaV) {
			flex-direction: column;
			gap: 5rem;
		}
	}

	&__item {
		color: #fff;
		font-size: 2rem;
		font-family: var(--titulos-orbitron);
	}

	&__span {
		margin-left: 1.5rem;
		color: white !important;
		font-size: 3rem;

		&--margin {
			margin-left: 5rem;
		}

		&--1 {
			color: white !important;
			font-size: 3rem;
		}
	}
}
.counter-text {
	margin-left: 1.5rem;
}
