.donations {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10rem;

	@include respond(tabletaV) {
		flex-direction: column;
		gap: 0;
	}
	&__box {
		flex-basis: 40%;
		padding: 10rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include respond(movil) {
			padding: 10rem 4rem 5rem 4rem;
			flex-basis: 40%;
		}
	}

	&__right {
		display: flex;
		@include respond(tabletaV) {
			justify-content: center;
			margin: 0 4rem;
			width: 90%;
			padding-bottom: 5rem;
		}
		@include respond(movil) {
			align-self: flex-start;
			margin: 0;
			width: 90%;
			padding-bottom: 5rem;
		}
	}

	&__title {
		font-size: 4rem;
		font-family: var(--titulos-orbitron);
		font-weight: 500;
		color: var(--color-azul-oscuro);
		margin-bottom: 2rem;
		@include respond(tabletaV) {
			text-align: center;
		}
		@include respond(movil) {
			text-align: start;
		}
	}

	&__text {
		font-size: 2rem;
		font-family: var(--parrafos-jura);
		font-weight: 500;
		color: var(--color-azul-oscuro);
	}
}
