.hero {
	&__hero {
		height: 65rem;
		background-position: bottom;
		background-size: cover;
		position: relative;

		&--2 {
			height: 50rem;
		}

		@include respond(movil) {
			padding: 2rem;
		}
	}

	&__subText {
		font-size: 1.8rem;
		font-family: var(--parrafos-jura);
	}

	&__container {
		background-color: #fff;
		height: 43rem;
		max-width: 80rem;
		position: relative;
		top: 25rem;
		left: 15%;
		border-radius: 0.4rem;
		padding: 0 5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		box-shadow: 0px 1px 10px rgb(148, 148, 148);

		@include respond(big-desktop) {
			bottom: 0rem;
			left: 20%;
		}

		@include respond(tabletaH) {
			left: 6%;
			bottom: 30rem;
		}

		@include respond(tabletaV) {
			left: 4.6%;
			bottom: 40rem;
		}

		@include respond(movil) {
			max-width: 50rem;
			left: 5%;
		}

		&--center {
			bottom: 9rem;
			padding: 0rem 15rem;
		}
	}
	&__tittle {
		color: #cf242d;
		font-size: 2.7rem;
		font-family: var(--titulos-orbitron);
		@include respond(movil) {
			font-size: 2.5rem;
		}
	}

	&__text {
		font-size: 2.2rem;
		font-family: var(--parrafos-jura);
		text-align: center;
		@include respond(movil) {
			font-size: 2.5rem;
		}
	}

	&__sub-text {
		color: var(--color-azul-oscuro);
		font-size: 2rem;
		font-family: var(--titulos-orbitron);

		&--light {
			font-size: 2rem;
			font-family: var(--parrafos-jura);
		}
	}

	&__arrow {
		color: #cf242d;
		font-weight: 900;
		margin-left: 2rem;
		font-size: 3rem;
	}

	&__scroll {
		cursor: pointer;
	}

	&__scroll > span {
		display: block;
	}

	&__contact {
		text-align: center;
	}
}
