.results {
	max-width: 70rem;
	margin: 0 auto;
	padding-top: 5rem;
	// @include respond(tabletaH) {
	// 	background-color: red;
	// }

	@include respond(movilBig) {
		padding: 0 5rem 0;
	}

	@include respond(movil) {
		padding: 0 0rem 0;
	}

	&__title {
		font-size: 2.5rem;
		text-align: center;
		font-family: var(--titulos-orbitron);

		@include respond(movilBig) {
			margin-top: 8rem;
		}
	}

	&__arrow {
		font-size: 4rem;
		text-align: center;
		font-family: var(--titulos-orbitron);
		margin: 1rem 0 2rem 0;
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding-bottom: 5rem;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem 1rem;
		border-bottom: 1px solid #000;
		font-family: var(--titulos-orbitron);
		font-size: 1.5rem;
	}

	&__subtitle {
		font-size: 1.8rem;
	}
}
