.results {
	max-width: 70rem;
	margin: 0 auto;
	padding-top: 5rem;

	@include respond(movilBig) {
		padding: 0 5rem 0;
	}

	@include respond(movil) {
		padding: 0 0rem 0;
	}

	&__btn-desktop {
		@include respond(tabletaV) {
			display: none;
		}
	}
	&__btn-movil {
		@include respond(tabletaV) {
			display: block !important;
		}
	}

	&__title {
		font-size: 2.5rem;
		text-align: center;
		font-family: var(--titulos-orbitron);
		color: #000;

		@include respond(movilBig) {
			margin-top: 8rem;
		}
	}

	&__arrow {
		font-size: 4rem;
		text-align: center;
		font-family: var(--titulos-orbitron);
		margin: 1rem 0 2rem 0;
		color: #000;
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding-bottom: 5rem;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem 1rem;
		border-bottom: 1px solid #000;
		font-family: var(--titulos-orbitron);
		font-size: 1.5rem;
	}

	&__subtitle {
		font-size: 1.8rem;
	}

	&__movil {
		display: none;
		padding-top: 11rem;
		@include respond(movil) {
			display: block;
		}
	}
	&__desktop {
		position: relative;
		padding-top: 10rem;
		// background-color: red;
		@include respond(movil) {
			display: none;
		}
	}

	&__movil-box {
		display: flex;
		flex-direction: column;
		padding: 0 2rem;
		font-size: 2.2rem;
	}

	&__movil-row {
		border: 1px solid var(--color-azul-oscuro);
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: var(--titulos-orbitron);
		padding: 2rem;
		height: 9rem;
		margin-bottom: 3rem;
		cursor: pointer;
	}

	&__movil-row-2 {
		border-top: 1px solid var(--color-azul-oscuro);
		border-bottom: 1px solid var(--color-azul-oscuro);
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: var(--titulos-orbitron);
		margin-bottom: 5rem;
		padding: 2rem;
	}
}
.click {
	color: var(--color-azul-claro);
	border: none;
}

.nada {
	display: none;
}
