.section {
	display: flex;
	gap: 20rem;
	max-width: 110rem;

	@include respond(tabletaV) {
		gap: 5rem;
	}

	@include respond(movilBig) {
		flex-direction: column;
		gap: 5rem;
	}
	&__title {
		margin: 4rem 0 3rem 0;
		font-size: 2rem;
		font-family: var(--titulos-orbitron);
		color: var(--color-azul-oscuro);
	}

	&__units {
		border: 3px solid var(--color-azul-oscuro) !important;
		width: 20rem;
		display: flex !important;
		align-items: center !important;
		margin-bottom: 3rem !important;
		font-family: var(--titulos-orbitron) !important;
	}

	&__inputs {
		max-width: 110rem;

		@include respond(movilBig) {
			margin: 0 auto;
			width: 50rem;
		}

		@include respond(miniMovil) {
			width: 40rem;
		}
	}

	&__units-1 {
		border: 3px solid var(--color-azul-oscuro);
		width: 20rem;
		display: flex;
		align-items: center;
		margin-bottom: 3rem;
		font-family: var(--titulos-orbitron);
		margin-top: 3rem;
	}

	&__input {
		border: none;
		padding: 1rem 1rem 1rem 2rem;
		font-size: 1.5rem;
		outline: none;
		width: 100% !important;
	}

	&__label {
		width: 13rem !important;
		padding: 1rem 0 1.5rem 1rem !important;
		font-size: 1.5rem !important;
		font-weight: 700;
		font-family: var(--titulos-orbitron);
		border-right: 3px solid var(--color-azul-oscuro) !important;
		display: inline-block;
	}

	&__label-beam {
		width: 13rem !important;
		padding: 1rem 1rem 1rem 1rem !important;
		font-size: 1.5rem !important;
		font-weight: 700;
		font-family: var(--titulos-orbitron);
		border-right: 3px solid var(--color-azul-oscuro) !important;
		display: inline-block;
	}

	&__calc {
		display: flex;
		gap: 2.5rem;
		font-weight: 500;
		align-items: center;
	}

	&__unit {
		font-size: 1.5rem;
		padding: 1.5rem 0 1.5rem 0;
		font-family: var(--titulos-orbitron);
	}

	&__subtitle {
		font-size: 3rem !important;
		font-family: var(--titulos-orbitron) !important;
		margin: 2rem 0 3rem 0 !important;
	}

	&__diagram {
		max-width: 110rem;
		@include respond(movilBig) {
			margin: 0 auto;
		}
	}
}

.display {
	display: none;
}

.selectUnits {
	height: 4rem !important;
	padding: 0 1rem !important;
}
.hidden {
	display: none !important;
}
